img {
    width: 200px;
}

body {
    text-align: center;
    font-family: 'Arial';
    background: rgb(38, 66, 109);
    color: rgb(0, 211, 70);
}

@keyframes color-change {
  0% { color: rgb(255, 0, 0); }
  50% { color: rgb(0, 0, 255); }
  75% { color:rgb(0, 255, 0); }
}
p {
  animation: color-change 1s infinite;
}   